.App {
    padding: 20px;
}

.feed-filter-bar-container {
    max-width: 550px;
    margin: 0px auto;
    margin-bottom: 40px;
}

.post-card-container {
    margin-bottom: 40px;
}

.post-list-container {
    max-width: 550px;
    margin: 0px auto;
}
